.footer {
  color: white;
  display: flex;
  align-self: center;
}
.footer-text {
  font-size: 12px;
  color: #85c88a;
}
@media only screen and (max-width: 600px) {
  .footer {
    margin-top: 40px;
  }
}
