body {
  margin: 0;
  box-sizing: border-box;
}

.blog, .contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 1em;
  box-sizing: border-box;
}
